include LICENSE
include README.md

exclude CONTRIBUTING.md CODE_OF_CONDUCT.md
exclude *.yaml

recursive-include tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
